@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: white;
    font-family: quicksand;
}

html{
    min-height: 100%;
    height: max-content;
    width: 100%;
}

body{
    background-color: white;
    min-height: 100%;
    height: max-content;
    width: 100%;
}

:root{
    --light00: white;
    --light10: darkgrey;
    --dark00: black; 
    --dark10: #101010;
    --dark20: #202020;
    --dark30: #303030;
    --blue00: lightblue;
    --blue10: rgb(32, 134, 175);;
    --incomegreen: rgba(0, 128, 0, 0.555);
    --expensered: rgba(255, 0, 0, 0.514);
}

main{
    width: 100%;
    min-height: 100%;
    height: max-content;
    background-color: var(--dark30);
    display: grid;
    grid-template-columns: 220px 1fr;
}
h1{
    font-size: 30px;
}
.error{
    position: absolute;
    width: max-content;
    z-index: 999;
    top: -100px;
    margin: auto;
    left: 0;
    right: 0;
    background-color: var(--dark00);
    border: 3px solid var(--blue10);
    border-radius: 5px;
    padding: 10px;
    font-size: 20px;
    animation: error 10s ease;
}
@keyframes error{
    0% {top: -100px}
    10% {top: 20px}
    90% {top: 20px}
    100% {top: -100px}
}
