@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: var(--light00);
    font-family: quicksand;
}

html{
    min-height: 100%;
    height: max-content;
    width: 100%;
}

body{
    background-color: var(--dark00);
    min-height: 100%;
    height: max-content;
    width: 100%;
}

:root{
    --light00: white;
    --light10: darkgrey;
    --dark00: black; 
    --dark10: #101010;
    --dark20: #202020;
    --dark30: #303030;
    --dark003: #00000059;
    --blue00: lightblue;
    /* --blue10: rgb(32, 134, 175);; */
    --blue10: #2886d2;
    --incomegreen: rgba(0, 128, 0, 0.555);
    --expensered: rgba(255, 0, 0, 0.514);
}

main{
    width: 100%;
    min-height: 100%;
    height: max-content;
    background-color: var(--dark30);
    display: grid;
    grid-template-columns: 60px 1fr;
    grid-template-rows: 60px 1fr;
}
h1{
    font-size: 30px;
}
.error{
    position: absolute;
    width: max-content;
    z-index: 999;
    top: 50%;
    margin: auto;
    left: 0;
    right: 0;
    opacity: 0;
    background-color: var(--dark00);
    border: 3px solid var(--blue10);
    border-radius: 5px;
    padding: 10px;
    font-size: 20px;
    animation: error 5s ease;
}
@keyframes error{
    0% {opacity: 0;}
    10% {opacity: 1;}
    90% {opacity: 1;}
    100% {opacity: 0;}
}
::-webkit-scrollbar {
    width: 20px;
    background-color: var(--dark10);
}
::-webkit-scrollbar-thumb {
background-color: var(--light10);
border-radius: 10px;
transition: 0.5s;
border: 5px solid var(--dark10);
}

.checkbox{
    display: grid;
    grid-template-columns: 1fr max-content;
}
.checkbox input{
    appearance: none;
    margin: 0;
    font: inherit;
    color: currentColor;
    width: 30px;
    height: 30px;
    border: 1px solid currentColor;
    border-radius: 100em;
    transform: translateY(-0.075em);
    display: grid;
    place-content: center;
}
.checkbox input:hover{
    background-color: transparent;
}
.checkbox input::before {
    content: "";
    width: 0.65em;
    height: 0.65em;
    transform: scale(0);
    transition: 60ms transform ease-in-out;
    box-shadow: inset 1em 1em var(--blue10);
    transform-origin: bottom left;
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}
.checkbox input:checked::before {
    transform: scale(1);
}