.formTable table td{
    border-bottom: 1px solid var(--dark30);
    border-right: 1px solid var(--dark30);
}
.formHead{
    display: flex;
}
#txtExpensecategory_id,
#txtExpensesource_id,
#txtStore_id {
    background-color: var(--dark30);
    padding: 10px 15px;
}
:is(.formHead) :is(select, option), .select2{
    border: none;
    padding: 5px;
    border-radius: 5px;
    background-color: var(--dark30);
}
.select2-container--my-custom-theme .select2-dropdown {
    background-color: var(--dark10);
    color: white;
    border: 3px solid var(--dark30);
}

.select2-container--my-custom-theme .select2-search__field {
    border: 2px solid var(--dark30);
    background-color: var(--dark20);
}
:is(.select2-container--my-custom-theme, .select2-search__field):focus {
    outline: none;
}
.select2-container--my-custom-theme .select2-results__option--highlighted {
    background-color: var(--blue10);
}
.select2-selection__rendered{
    position: relative;
    top: 6px;
    font-size: 20px;
}
.select2::after{
    content: '';
    display: inline-block;
    position: absolute;
    left: calc(100% - 20px);
    top: calc(50% - 5px);
    height: 10px;
    width: 10px;
    background-image: url(/img/arrow.png);
    background-position: center;
    background-size: cover;
}
.formTD .select2-selection__rendered{
    position: relative;
    top: 2px;
    font-size: 15px;
}
.formTD .select2{
    height: 33px;
}
.formTD:hover{
    background-color: var(--dark10);
    cursor: pointer;
}
.formTD :is(input, button, select){
    background-color: var(--dark30);
    border: none;
    font-size: 15px;
    display: flex;
    align-items: center;
    gap: 10px;
    border-radius: 5px;
    padding: 7px;   
}
.formTD-selectDiv{
    display: flex;
    gap: 10px;
}
