.home{
    padding: 20px;
    background-color: var(--dark20);
}
.content{
    display: grid;
    gap: 20px
}
.widgetCategory{
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
}
.widgetCategory h2{
    margin: 0 0 5px 5px;
    width: 100%;
}
.widgets{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.widget{
    width: 300px;
    display: grid;
    grid-template-columns: 1fr max-content;
    background-color: var(--dark30);
}
.widget div{
    margin: 5px;
    padding: 5px;
}
.widgetTitle{
    font-size: 17px;
    text-transform: capitalize;
    max-width: 260px;
    overflow: hidden;
    text-overflow: ellipsis;
    color: var(--light10);
}
.widgetContent{
    font-size: 35px;
    font-weight: 500;
    max-width: 260px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.widgetIndicator{
    width: 0px;
}
#income .widgetIndicator{
    background-color: var(--incomegreen);
}
#expense .widgetIndicator{
    background-color: var(--expensered);
}