.list{
    display: grid;
    grid-template-columns: 200px 1fr;
    height: 100%;
    background-color: var(--dark20);
}
.listContent{
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: max-content 1fr;
}
.listNavigation{    
    position: sticky;
    top: 60px;
    z-index: 100;
    width: 1fr;
    padding: 10px;
    background-color: var(--dark20);
    border-bottom: 4px solid var(--dark10);
    height: 50px;
    gap: 10px;
}
.listNavigationDeff{
    display: grid;
    grid-template-columns: max-content 1fr repeat(2, max-content);
    gap: 10px;
}
.listNavigationOnSelect{
    display: none;
}
:is(.listNavigation, .tableTD) input::-webkit-calendar-picker-indicator {
    filter: invert(1);
}
:is(.listNavigation, .tableTD) :is(input, select):focus{
    outline: none;
}
:is(.listNavigation) :is(input, button, .listSearch, select){
    background-color: var(--dark30);
    padding: 10px 15px;
    border: none;
    font-size: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
    border-radius: 5px;
    height: 50px;
}
:is(.listNavigation) :is(input){
    height: 30px !important;
}
.listNavigation button img{
    height: 20px;
    width: 20px;
    filter: brightness(11);
}
.listNavigation button:hover{
    background-color: var(--blue10);
    cursor: pointer;
}
.listSearch{
    display: grid;
    grid-template-columns: max-content 1fr;
    width: 1fr;
    padding: 0  10px !important;
}
.listSearch input{
    height: 30px !important;
    padding: 0 !important; 
    width: 100%;
}
.listNavigation input::placeholder{
    color: var(--light10);
}
.listNavigation input:focus{
    outline: none;
}
.listSearch::before{
    content: '';
    display: block;
    height: 20px;
    width: 20px;
    background-image: url(/img/search.png);
    background-position: center;
    background-size: cover;
    /* filter: opacity(.5); */
    z-index: 1;
}





.listContent .listTable table{
    width: 100%;
    overflow: hidden;
    border-collapse: collapse;
    background-color: var(--dark30);
}
:is(.tableTH th, .tableTD td){
    padding: 10px;
    text-align: left;
}
.tableTH th{
    font-size: 20px;
    background-color: var(--blue10);
    user-select: none;
}
.tableTH th:hover{
    cursor: pointer;
}
.tableTD{
    background-color: var(--dark20);
    transition: .1s;
    border-bottom: 1px solid var(--dark30);
}
.tableTD:nth-child(even){
    background-color: var(--dark10);
}
.tableTD:hover{
    background-color: var(--dark30);
    cursor: pointer;
}
.tableTD td{
    font-size: 15px;
}
:is(.listSortUp, .listSortDown)::after{
    content: '';
    z-index: 10;
    height: 20px;
    width: 15px;
    background-size: contain;
    margin: 0px 0 -2px 0px ;
    background-image: url(../img/arrow-down.png);
    background-repeat: no-repeat;
}
.listSortUp::after{
    rotate: 180deg;
}

.editForm{
    z-index: 9999;
    width: 100%;
    height: 100%;
    background-color: var(--dark003);
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    position: absolute;
    display: grid;
    align-items: center;
    justify-content: center;
}
.editForm section{
    border-radius: 10px;
    overflow: hidden;
}
.editForm header{
    background-color: var(--blue10);
    padding: 10px;
    font-weight: 900;
    font-size: 20px;
}
.editForm form{
    background-color: var(--dark10);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    box-shadow: 10px 0 0 var(--darko0);
    padding: 10px;
}

.editForm div:has(p){
    width: 100%;
    height: 100%;
    display: grid;
}
.editForm :is(input, select, button){
    background-color: var(--dark30);
    border: none;
    padding: 0px 10px;
    width: calc(100% - 20px);
    height: 40px;
    border-radius: 10px;
    transition: .1s;
}
.editForm :is(select, button){
    width: 100% !important;
}
.editForm :is(input, select, button):focus{
    outline: none;
}
.editForm div:has(button){
    grid-column: span 3;
}
.editForm button:hover{
    background-color: var(--blue10);
    cursor: pointer;
}