.list{
    display: grid;
    grid-template-columns: 200px 1fr;
    height: 100%;
    background-color: var(--dark20);
}
.listContent{
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: max-content 1fr;
}
.listNavigation{
    position: sticky;
    top: 60px;
    z-index: 100;
    width: 1fr;
    padding: 10px;
    background-color: var(--dark20);
    border-bottom: 4px solid var(--dark10);
}
.listNavigationDeff{
    display: grid;
    grid-template-columns: max-content 1fr repeat(2, max-content);
    gap: 10px;
}
.listNavigationOnSelect{
    display: none;
    gap: 10px;
}
.listNavigation select{
    background-color: var(--dark30);
    text-align: center;
    padding: 10px 15px;
    border: none;
    font-size: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
    border-radius: 5px;
}
.listNavigation select:focus{
    outline: none;
}
.listNavigation button{
    background-color: var(--dark30);
    text-align: center;
    padding: 10px 15px;
    border: none;
    font-size: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
    border-radius: 5px;
}
.listNavigation button img{
    height: 20px;
    width: 20px;
    filter: brightness(11);
}
.listNavigation button:hover{
    background-color: var(--blue10);
    cursor: pointer;
}
.listSearch{
    display: grid;
    align-items: center;
    grid-template-columns: max-content 1fr;
    width: 1fr;
    gap: 10px;
    background-color: var(--dark30);
    text-align: center;
    padding: 10px 10px;
    border-radius: 5px;
}
.listSearch input{
    background-color: inherit;
    font-size: 20px;
    height: max-content;
    border: none;
}
.listSearch input::placeholder{
    color: var(--light10);
}
.listSearch input:focus{
    outline: none;
}
.listSearch::before{
    content: '';
    display: block;
    height: 20px;
    width: 20px;
    background-image: url(/img/search.png);
    background-position: center;
    background-size: cover;
    filter: opacity(.5);
    z-index: 1;
}
.listContent .listTable table{
    width: 100%;
    overflow: hidden;
    border-collapse: collapse;
    background-color: var(--dark30);
}
:is(.tableTH th, .tableTD td){
    padding: 10px;
    text-align: left;
}
.tableTH th{
    font-size: 20px;
    background-color: var(--blue10);
    user-select: none;
}
.tableTD{
    background-color: var(--dark20);
    transition: .1s;
}
.tableTD:nth-child(even){
    background-color: var(--dark10);
}
.tableTD:hover{
    background-color: var(--dark30);
    cursor: pointer;
}
.tableTH th:hover{
    cursor: pointer;
}
.tableTD{
    border-bottom: 1px solid var(--dark30);
}
.tableTD td{
    font-size: 18px;
}

:is(.listSortUp, .listSortDown)::after{
    content: '';
    display: ;
    z-index: 10;
    height: 20px;
    width: 15px;
    background-size: contain;
    margin: 0px 0 -2px 0px ;
    background-image: url(../img/arrow-down.png);
    background-repeat: no-repeat;
}
.listSortUp::after{
    rotate: 180deg;
}