.listContent{
    display: grid;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
}
.listContent div{
    display: grid;
    justify-content: center;
}
.listNavigation{
    position: sticky;
    top: 0px;
    width: 100%;
    background-color: var(--dark30);
    padding: 10px 0px;
    display: grid;
    justify-content: center;
    gap: 7px;
    z-index: 100;
}
.listSources{
    display: flex !important;
    gap: 7px;
    flex-wrap: wrap;
}
.listSources div{
    padding: 10px;
    font-size: 20px;
    height: min-content;
    background-color: var(--dark20);
    text-align: center;
    padding: 10px;
    border-radius: 3px;
    outline: 2px solid var(--dark10);
}
.listSearch{
    height: 40px;
    display: grid;
    align-items: center;
    grid-template-columns: max-content 1fr;
    width: 1fr;
    border-radius: 5px;
    padding: 10px 15px;
    gap: 10px;
    background-color: var(--dark20);
    text-align: center;
    padding: 10px;
    outline: 2px solid var(--dark10);
}
.listSearch input{
    background-color: inherit;
    font-size: 20px;
    height: max-content;
    border: none;
    height: 100%;
}
.listSearch input::placeholder{
    color: var(--light10);
}
.listSearch input:focus{
    outline: none;
}
.listSearch::before{
    content: '';
    display: block;
    height: 20px;
    width: 20px;
    background-image: url(/img/search.png);
    background-position: center;
    background-size: cover;
    filter: opacity(.5);
    z-index: 1;
}
:is(.tableTH th, .tableTD td){
    text-align: center;
    padding: 10px;
    outline: 1px solid var(--dark10);
}
.tableTH th{
    font-size: 20px;
    background-color: var(--blue10);
    user-select: none;
}
.tableTH th:hover{
    cursor: pointer;
}
.tableTD td{
    font-size: 18px;
    background-color: var(--dark20);
    padding: 15px;
}
.tableTD .listdelete::after{
    content: '';
    display: block;
    height: 20px;
    width: 20px;
    background-image: url(../img/bin.png);
    background-size: cover;
    filter: brightness(1);
}
.tableTD .listdelete:hover{
    background-color: red;
}
.tableTD .listedit::after{
    content: '';
    display: block;
    height: 20px;
    width: 20px;
    background-image: url(../img/pen.png);
    background-size: cover;
    filter: brightness(1);
}
.listsSelected div{
    background-color: var(--blue10);
}
:is(.listSortUp, .listSortDown)::after{
    content: '';
    display: inline-block;
    height: 20px;
    width: 20px;
    background-size: contain;
    margin: 0px 0 -2px 10px ;
    background-image: url(../img/arrow.png);
}
.listSortUp::after{
    rotate: 180deg;
}