.switch {
    z-index: 100;
    position: relative;
    display: inline-block;
    width: 45px;
    height: 25.5px;
    justify-content: flex-end;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 19.5px;
    width: 19.5px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: var(--dark20);
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px var(--dark20);
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(19.5px);
    -ms-transform: translateX(19.5px);
    transform: translateX(19.5px);
  }
  .slider {
    border-radius: 25.5px;
  }
  
  .slider:before {
    border-radius: 50%;
  }