.yearOverviewTable{
    overflow: hidden;
    margin-inline: auto;
    width: 100%;
    border: none;
    border-collapse: collapse;
}
.yearOverviewTable :is(td, th){
    padding: 10px;
    outline: 1px solid var(--dark10);
    font-size: 14px;
}
.yearOverviewTable :is(th){
    background-color: var(--dark10);
    font-weight: 400;
    max-width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.yearOverviewTable :is(td){
    background-color: var(--dark20);
}
.tableyear{
    background-color: var(--blue10) !important;
}
.tableyear div{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: inherit;
}
.tableyear div :is(select, option){
    background-color: inherit;
    border: none;
    outline: none;
    font-size: 18px;
    padding: 0 10px;
}
.tableyear select{
    padding: 0 10px;
}
.tableyear img{
    height: 10px;
}
.tablemonths{
    background-color: var(--blue10) !important;
    font-size: 20px !important;
}
.tableincome{
    background-color: var(--incomegreen) !important;
}
.tableexpense{
    background-color: var(--expensered) !important;
}
.tablespacer{
    padding: 0 !important;
}
.tableAvrageSumary{
    background-color: var(--dark10) !important;
}
.tableRowSpcaer{
    background-color: var(--blue10) !important;
}