.yearOverviewTable{
    border-spacing: 2px;
    overflow: hidden;
    background-color: var(--dark10);
    outline-offset: -1px;
    margin-inline: auto;
}
.yearOverviewTable :is(td, th){
    padding: 10px;
}
.yearOverviewTable :is(th){
    background-color: var(--dark30);
    font-weight: 400;
}
.yearOverviewTable :is(td){
    background-color: var(--dark20);
}
.tableyear{
    background-color: var(--blue10) !important;
}
.tableyear div{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: inherit;
}
.tableyear div :is(select, option){
    background-color: inherit;
    border: none;
    outline: none;
    font-size: 18px;
    padding: 0 10px;
}
.tableyear select{
    padding: 0 10px;
}
.tableyear img{
    height: 10px;
}
.tablemonths{
    background-color: var(--blue10) !important;
}
.tableincome{
    background-color: var(--incomegreen) !important;
}
.tableexpense{
    background-color: var(--expensered) !important;
}
.tablespacer{
    padding: 0 !important;
}
.tableAvrageSumary{
    background-color: var(--dark30) !important;
}
.tableRowSpcaer{
    background-color: var(--blue10) !important;
}